:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  --green: #67663f;
  --brown: #53372d;
  color: var(--brown);
  padding: 0;
  margin: 0;
}
body,
html {
  padding: 0;
  margin: 0;
}
nav {
  display: none;
  height: 70px;
}
nav > ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: var(--brown);
  transition: ease-in-out 300ms;
  cursor: pointer;
}
nav > ul > li:hover {
  background-color: var(--brown);
  color: #fafafa;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  outline: none !important;
  color: #ffffff;
  border: 2px solid #53372d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--brown);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 300ms ease-in-out;
}
button:hover {
  background: transparent;
  color: var(--brown);
}
.titlewrap {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: hand;
}
.greetbox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.section {
  height: calc(100vh - 70px);
}
.profile {
  margin: 1rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.projects {
  margin: 0px;
  /* text-align: center; */
}
.project-card {
  margin-bottom: 1rem;
}
.home {
  /* margin-top: -5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg {
  margin: 0;
}
.greetimg {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  background: var(--green);
  border-radius: 200px;
  height: 220px;
  width: 220px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
}
.name {
  font-size: 58px;
  margin: 0;
  font-weight: 800;
  text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.1);
}

.btn-holder {
  margin-top: 1rem;
}
.skillbox {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem;
  font-weight: 500;
}
.content {
  line-height: 22px;
}
.react {
  color: #1267b7;
}
.node {
  color: #59b312;
}
.sql {
  color: #c5b100;
}
.html {
  color: #f50d0d;
}
.flutter {
  color: #1dd0e9;
}
.ionic {
  color: #498aff;
}
.contacts {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-card {
  width: 3rem;
  margin: 0.5rem;
  /* margin-top: 1.5rem; */
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
}
.contact-icon {
  height: 3rem;
  width: 3rem;
}
.github {
  color: #333333;
}
.insta {
  color: #bc2a8d;
}
.gmail {
  color: #d44638;
}
.dribble {
  color: #ea4c89;
}
.wa {
  color: #25d366;
}
.fb {
  color: #4267b2;
}

.project-holder {
  display: flex;
  flex-direction: column;
}

.project-card {
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}
.project-card-content {
  padding: 0.5rem;
}
.project-card-image {
  border-radius: 8px 8px 0px 0px;
  width: calc(100vw - 1.75rem);
}

@media only screen and (min-width: 700px) {
  nav {
    display: block;
  }
  .wrapper {
    margin: 0rem 10rem 0rem 10rem;
  }
  .greetbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
  }
  .content {
    /* width: 90vw; */
    line-height: 30px;
  }
  .profile {
    margin-top: 1rem;
  }
  .contacts {
    display: flex;
  }
  .greetimg {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    background: var(--green);
    border-radius: 200px;
    height: 220px;
    width: 220px;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  }
  .project-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .project-card-image {
    width: 300px;
  }
  .project-holder {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-card {
    margin: 0.5rem;
    border-radius: 8px;
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25); */
  }
}
